@using NGon
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
    @Html.IncludeNGon(outputScriptTag:false)
    </script>
</head>

<body>
    @RenderBody()
</body>
</html>
